"backend/node_modules"  
"frontend/node_modules"  
"*.db"  
"frontend/package-lock.json"  
"backend/__pycache__"  
"backend/models/__pycache__"  
"backend/routers/__pycache__"  
"backend/schemas/__pycache__"  
"backend/services/__pycache__"  
"frontend/.vite"  
"frontend/index.html"  
